#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-color: beige;
    border-radius: 10px;
    margin: 10px;
}

.buttons {
    display: flex;
    gap: 225px;
}

